body {
    font-family: Arial;
    background-color: #d8c3c3;
}

header {
    background: #e5f50d;
    color: rgb(75, 5, 105);
    padding: 10px;
}

.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    background-color: #10472c; /* خاکستری */
    color: #cecbd2;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-custom:hover {
    background-color: #224969;
}
